<section class="menu__bar">
  <h6>منوی رستوران</h6>
  <ul>
    <li class="menu__item">
      <img src="../src/data/main.png" alt="غذای اصلی" />
      <a href="#" class="link-btn">غذای اصلی</a>
    </li>
    <li class="menu__item">
      <img src="../src/data/apitizer.png" alt="" />
      <a href="#" class="link-btn">پیش غذا</a>
    </li>
    <li class="menu__item">
      <img src="../src/data/deser.png" alt="" />
      <a href="#" class="link-btn">دسر</a>
    </li>
    <li class="menu__item drink__image">
      <img src="../src/data/drink.png" alt="" />
      <a href="#" class="link-btn">نوشیدنی</a>
    </li>
  </ul>
</section>
