<div class="introduction--container">
  <section class="introduction">
    <div class="introduction__details">
      <p>رستوران‌های زنجیره‌ای ترخینه</p>
      <span>
        مهمان‌نوازی یکی از مهم‌ترین مشخصه‌های ایرانیان است و باعث افتخار ماست که
        بیش از 20 سال است خدمت‌گزار مردم شریف ایران هستیم. ما در رستوران‌های
        زنجیره‌ای ترخینه همواره تلاش کردیم که در محیطی اصیل بر پایه معماری و
        طراحی مدرن در کنار طبیعتی دلنواز، غذایی سالم و درخور شان شما عزیزان
        ارائه دهیم.
      </span>
      <a href="#" class="link-btn">
        اطلاعات بیشتر
        <img src="../src/data/arrow-left.svg" alt="" />
      </a>
    </div>
    <div class="introduction__exprience">
      <div class="experince__badge">
        <img class="experince__icon" src="../src/data/user.svg" alt="" /><span
          >پرسنلی مجرب و حرفه‌ای</span
        >
      </div>
      <div class="experince__badge">
        <img
          class="experince__icon"
          src="../src/data/diagram.svg"
          alt=""
        /><span>کیفیت بالای غذاها</span>
      </div>
      <div class="experince__badge">
        <img
          class="experince__icon"
          src="../src/data/home-wifi.svg"
          alt=""
        /><span>محیطی دلنشین و آرام</span>
      </div>
      <div class="experince__badge">
        <img
          class="experince__icon"
          src="../src/data/menu-board-badge.svg"
          alt=""
        /><span>منوی متنوع</span>
      </div>
    </div>
  </section>
</div>
