/* در پروژه ترخینه از فونت استعداد (امین عابدی) استفاده شده است. این فونت متن باز بوده و *رایگان* می باشد. */
/* for download from owner's github ↓ */
/* https://github.com/aminabedi68/Estedad */

@font-face {
  font-family: "Estedad";
  src: url("../fonts/Estedad-Thin.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Estedad";
  src: url("../fonts/Estedad-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Estedad";
  src: url("../fonts/Estedad-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Estedad";
  src: url("../fonts/Estedad-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Estedad";
  src: url("../fonts/Estedad-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Estedad";
  src: url("../fonts/Estedad-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Estedad";
  src: url("../fonts/Estedad-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Estedad";
  src: url("../fonts/Estedad-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Estedad";
  src: url("../fonts/Estedad-Black.woff2") format("woff2");
  font-weight: 900;
}

* {
  font-family: Estedad, ui-sans-serif, system-ui, -apple-system,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
html {
  font-size: 62.5%;
  color: var(--Neutral-Gray-6);
}
