/* Root varibles */
:root {
  /* Main color pallet */
  --Green-Green-Tint-1: #e5f2e9;
  --Green-Green-Tint-2: #cae4d3;
  --Green-Green-Tint-3: #b0d7bd;
  --Green-Green-Tint-4: #96c9a7;
  --Green-Green-Tint-5: #7cbc91;
  --Green-Green-Tint-6: #61ae7b;
  --Green-Green-Tint-7: #4e9968;
  --primary-color: #417f56;
  --Green-Green-Shade-8: #396f4b;
  --Green-Green-Shade-9: #315f41;
  --Green-Green-Shade-10: #294f36;
  --Green-Green-Shade-11: #21402b;
  --Green-Green-Shade-12: #183020;
  --Green-Green-Shade-13: #102016;
  --Green-Green-shade-14: #08100b;

  /* Neutral color pallet */
  --Neutral-White: #fff;
  --Neutral-Gray-1: #f9f9f9;
  --Neutral-Gray-2: #e1e1e1;
  --Neutral-Gray-3: #ededed;
  --Neutral-Gray-4: #adadad;
  --Neutral-Gray-5: #757575;
  --Neutral-Gray-6: #353535;
  --Neutral-Black: #000;

  /* State color pallet */

  /* 1.Error :  */
  --State-Error-Error: #c30000;
  --State-Error-Error-Light: #ed2e2e;
  --State-Error-Error-ExtraLight: #fff2f2;

  /* 2.Success :  */
  --State-Success-Success: #00966d;
  --State-Success-Success-Light: #00ba88;
  --State-Success-Success-ExtraLight: #f3fdfa;

  /* 3.Warning :  */
  --State-Warning-Warning: #a9791c;
  --State-Warning-Warning-Light: #f4b740;
  --State-Warning-Warning-ExtraLight: #fff8e1;

  /* Padding */
  --Padding-ExtraMini: 8px;
  --Padding-Mini: 16px;
  --Padding-Medium: 24px;
  --Padding-High: 32px;

  /* Shadows */
  --Drop-Shadow-2: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  --Drop-Shadow-4: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --Drop-Shadow-6: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  --Drop-Shadow-8: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
  --Drop-Shadow-12: 0px 12px 12px 0px rgba(0, 0, 0, 0.25);
  --Drop-Shadow-16: 0px 16px 16px 0px rgba(0, 0, 0, 0.25);
  --Drop-Shadow-Cards: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.09),
    0px 9px 5px 0px rgba(0, 0, 0, 0.05), 0px 16px 6px 0px rgba(0, 0, 0, 0.01),
    0px 25px 7px 0px rgba(0, 0, 0, 0);
  --Drop-Shadow-Contact-Cards: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 11px 11px 0px rgba(0, 0, 0, 0.09),
    0px 24px 14px 0px rgba(0, 0, 0, 0.05), 0px 42px 17px 0px rgba(0, 0, 0, 0.01),
    0px 66px 18px 0px rgba(0, 0, 0, 0);

  /* Border radius */
  --Border-Radius-4: 4px;
  --Border-Radius-8: 8px;
  --Border-Radius-16: 16px;
  --Border-Radius-24: 24px;
  --Border-Radius-32: 32px;
  --Border-Radius-64: 64px;

  /* Slider Root Style(phone) */
  --swiper-navigation-size: 0px;
  --swiper-pagination-bullet-size: 5px;
  --swiper-pagination-bottom: 6px;
  --swiper-pagination-bullet-horizontal-gap: 2px;
}
* {
  box-sizing: border-box !important;
  outline: 0 !important;

  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
}
/* ---------------------------- */
/* btn component */
.link-btn {
  display: flex;
  color: var(--Neutral-White);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 180%;
  background-color: var(--primary-color);
}
.btn-slider {
  position: absolute;
  bottom: 35px;
}
@media screen and (min-width: 768px) {
  .btn-slider {
    bottom: 65px;
  }
  .link-btn {
    border-radius: 8px;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
}
/* ---------- special access -------------- */
.only-phone {
  display: block;
}
.only-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .only-phone {
    display: none;
  }
  .only-desktop {
    display: block;
  }
}
/* Components */
/* ---------------------------- */
/* slider */
.container-slider {
  max-width: 1440px;
  height: 100vh;
}
.swiper {
  position: relative;
  width: 100%;
  height: 190px;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: var(--Neutral-White);
}
.swiper .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
  width: 7px;
  height: 7px;
  transition: all 0.1s ease;
}
.swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper-slide.slide-1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.55) 0%,
      rgba(0, 0, 0, 0.55) 100%
    ),
    linear-gradient(0deg, rgba(33, 64, 43, 0.5) 0%, rgba(33, 64, 43, 0.5) 100%),
    url(../data/slider-phone.png);
  background-blend-mode: normal, overlay, normal;
}
.swiper-slide .swiper__description {
  color: var(--Neutral-White);
  font-style: normal;
  font-size: 1.6rem;
  line-height: 140%;
  margin-bottom: 2rem;
  transform: translateY(50%);
}
.swiper-pane {
  z-index: 1;
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 88px;
  transform: translateX(-50%);
}
.swiper-pane img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  :root {
    --swiper-navigation-size: 25px;
    --swiper-pagination-bullet-size: 7px;
    --swiper-pagination-bottom: 6px;
    --swiper-pagination-bullet-horizontal-gap: 4px;
  }
  .swiper {
    height: 350px;
  }
  .swiper-slide.slide-1 {
    background-image: url(../data/slider-image.png);
  }
  .swiper-slide .swiper__description {
    font-size: 4rem;
    transform: translateY(30%);
  }
  .swiper .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
  }
  .swiper-pane {
    width: 125px;
  }
}
/* --------- header ------------ */
.tarkhine__header {
  max-height: 100px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.header__nav {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
.header__logo {
  width: 104px;
  margin: 0 auto;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__links {
  display: none;
}
.header__links__items {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  gap: 1rem;
}
.place__dropdown {
  z-index: -1;
  position: absolute;
  flex-direction: column;
  align-items: end;
  opacity: 0;
  justify-content: center;
  top: 60px;
  right: 100px;
  max-width: 0;
  max-height: 0;
  font-size: 1.6rem;
  border-radius: 5px;
  padding: 0 2rem;
  overflow: hidden;
  background: var(--Neutral-White);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  transition: max-height 0.3s ease-in-out;
}
.header__menuBar .place__dropdown {
  right: 200px;
}
.place__dropdown h3 {
  margin-bottom: auto;
}
.place__dropdown__UL {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 180%;
  direction: rtl;
  text-align: right;
  width: 100%;
}
.place__dropdown__UL li {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--Neutral-Gray-3);
}
.place__item {
  height: 8rem;
}

.header__link--item {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 0.8rem;
  border-bottom: 1px solid var(--Neutral-Gray-3);
}
.header__link--item a {
  color: var(--Neutral-Gray-5);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 140%;
  padding-bottom: 0.4rem;
  transition: all 0.3s ease-in-out;
}
.header__link--item:hover a {
  color: var(--primary-color);
  font-weight: 600;
  border-bottom: 2px solid var(--primary-color);
}

.header__cta {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.user-parent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta__item {
  background-color: var(--Green-Green-Tint-1);
  border-radius: 4px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta__item img {
  width: 16px;
}
.cta--user {
  width: 35px;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.cta__item.cta--user {
  position: relative;
}
.profile__menu.active {
  right: -95px;
  top: 45px;
  display: flex;
  width: 150px;
  max-width: 150px;
  opacity: 1;
  max-height: 100vh;
  z-index: 10;
}
.cta--search {
  display: none;
}
.fas.fa-caret-down {
  font-size: 1.2rem;
  margin-right: 0.25rem;
  transition: transform 0.3s ease-in-out;
}
.header__hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
.hamburger__line {
  border-radius: 5px;
  width: 20px;
  height: 2px;
  background-color: var(--primary-color);
}
.header__hamburger :not(:first-child) {
  margin-top: 0.4rem;
}
.arrow-down-profile {
  cursor: pointer;
}
.header__links.active {
  display: block;
}
.header__links.active .header__links__items {
  z-index: 11;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: end;
  flex-direction: column;
  background: var(--Neutral-White);
}
.header__links.active .header__links__items .place__item {
  height: auto;
}
.header__links.active .modal-background {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  backdrop-filter: blur(2px);
}
.image--panel--parent {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.55) 0%,
      rgba(0, 0, 0, 0.55) 100%
    ),
    linear-gradient(0deg, rgba(33, 64, 43, 0.5) 0%, rgba(33, 64, 43, 0.5) 100%),
    url(../data/panel__image.jpg);
  background-blend-mode: normal, overlay, normal;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  position: relative;
}
.image--panel--parent img {
  width: auto;
  margin-left: auto;
  margin-right: 1.8rem;
}
.close-panel {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  font-family: Arial !important;
  color: var(--Neutral-White);
}
.flex__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .tarkhine__header {
    padding: 0;
  }
  .header__links {
    display: block;
  }
  .header__logo {
    width: auto;
    margin: 0;
  }
  .header__cta {
    height: 80px;
  }
  .cta__item {
    width: 40px;
    height: 40px;
  }
  .cta__item img {
    width: 24px;
  }
  .header__hamburger {
    display: none;
  }
  .cta--search {
    display: flex;
  }
  .cta--user {
    width: 55px;
  }
  .image--panel--parent {
    display: none;
  }
  .header__link--item {
    width: auto;
    border: 0;
    padding: 0;
  }
  .header__links__items {
    gap: 2.4rem;
  }
  .header__link--item a {
    font-size: 2rem;
    padding: 0;
  }
  .header__link--item:hover i {
    transform: translateY(-50%);
    transform: rotate(180deg);
  }
  .header__link--item:hover .place__dropdown {
    display: flex;
    width: 150px;
    max-width: 150px;
    opacity: 1;
    max-height: 100vh;
    z-index: 10;
  }
  .fas.fa-caret-down {
    font-size: 1.8rem;
  }
  .flex__link{
    display: block;
    width: auto;
  }
}
