<div class="container-slider">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide-1">
        <h2 class="swiper__description">
          تجربه غذای سالم و گیاهی به سبک ترخینه
        </h2>
        <a class="link-btn btn-slider primary-btn" href="#odrer">
          سفارش آنلاین غذا
        </a>
      </div>
      <div class="swiper-slide slide-1">
        <h2 class="swiper__description">
          تجربه غذای سالم و گیاهی به سبک ترخینه
        </h2>
        <a class="link-btn btn-slider primary-btn" href="#odrer">
          سفارش آنلاین غذا
        </a>
      </div>
      <div class="swiper-slide slide-1">
        <h2 class="swiper__description">
          تجربه غذای سالم و گیاهی به سبک ترخینه
        </h2>
        <a class="link-btn btn-slider primary-btn" href="#odrer">
          سفارش آنلاین غذا
        </a>
      </div>
      <div class="swiper-slide slide-1">
        <h2 class="swiper__description">
          تجربه غذای سالم و گیاهی به سبک ترخینه
        </h2>
        <a class="link-btn btn-slider primary-btn" href="#odrer">
          سفارش آنلاین غذا
        </a>
      </div>
      <div class="swiper-slide slide-1">
        <h2 class="swiper__description">
          تجربه غذای سالم و گیاهی به سبک ترخینه
        </h2>
        <a class="link-btn btn-slider primary-btn" href="#odrer">
          سفارش آنلاین غذا
        </a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-pane">
      <img src="../src/data/slider-pane.svg" />
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
