<div class="search-modal"></div>
<div class="search--function">
  <div class="close--serach--panel">
    <span class="close--serach--panel--mark">✖</span>
    <p>جستجو</p>
  </div>
  <div class="function--serach--panel">
    <p>لطفا متن خود را تایپ و سپس دکمه Enter را بزنید.</p>
    <div class="search-box">
      <input type="text" name="searchBox" id="searchBox" placeholder="جستجو" />
      <button class="search-box-img">
        <img src="../src/data/search-normal-black.svg" alt="" />
      </button>
    </div>
  </div>
</div>
